@import './Variables.scss';

.messages-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.messages-container h2{
    align-self: flex-start;
    margin-bottom: .5rem;
    padding: 2rem 2rem 0 2rem;
}

.messages{
    width: 100%;
    color: white;
    font-family: $fontTitle;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

.messages h3{
    width: fit-content;
}

.messagebubble {
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color:$secondaryColor;
    width: 75%;
    border-radius: $borderRadius;
    padding: 1rem;
    transition: all 0.7s;
    overflow: hidden;
    border-right: 8px solid rgb(62, 28, 255);
}

.messagebubble:last-of-type{
    border-right: none;
}

.messagebubble img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.messagebubble:hover{
    scale: 1.05;
    cursor: pointer;
}
.nameMessage{
    margin-left: 1rem;
    text-overflow: ellipsis;

}
.nameMessage p{
    width: 90%;
    display: block;
    font-weight: 200;
    //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}