@import './Variables.scss';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.task-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.task-wrapper{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 2rem;

}

.task-title{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.addTask{
    @include resetStyle;
    color: white;
    font-size: $titleFontSize;

    background: $secondaryColor;
    display: inline-block;
    padding: 2px 10px;
    border-radius: 5px;
    transition: all .5s;
}

.addTask:hover{
    background-color: $thirdColor;
    cursor: pointer;
}
.taskbubble{
    background-color: $secondaryColor;
    border-radius: $borderRadius;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
}

.taskdescription{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid $fontActiveColor;
    padding-bottom: .5rem;
}

.taskdescription input{
    @include resetStyle;
    border: 3px $fontActiveColor solid;
    border-radius: 5px;
    height: 25px;
    width: 25px;
    transition: all .2s;
}

.taskdescription input:checked{
    background-color: rgb(0, 151, 0);
}

.taskdescription input:hover{
    cursor: pointer;
    background-color: rgb(160, 160, 160);
}

.tasktime{
    font-weight: 200;
    padding-top: .5rem;
}